@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #f9fafb; /* bg-gray-50 */
    margin: 0;
    padding: 0;
  }
  
  html.dark, html.dark body {
    background-color: #111827; /* bg-gray-900 */
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .slider {
    @apply appearance-none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .slider::-webkit-slider-thumb {
    @apply appearance-none cursor-pointer rounded-full border-2 border-white dark:border-gray-800;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #3b82f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -8.25px;
  }

  .slider::-webkit-slider-thumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }

  .slider::-moz-range-thumb {
    @apply appearance-none cursor-pointer rounded-full border-2 border-white dark:border-gray-800;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background: #3b82f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-color: white;
  }

  .dark .slider::-moz-range-thumb {
    border-color: rgb(31, 41, 55);
  }

  .slider::-moz-range-track {
    height: 1.5px;
    @apply bg-gray-200 dark:bg-gray-600 rounded;
    border: none;
  }

  .slider::-webkit-slider-runnable-track {
    height: 1.5px;
    @apply bg-gray-200 dark:bg-gray-600 rounded;
    border: none;
  }

  input[type="range"]::-webkit-inner-spin-button,
  input[type="range"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="range"] {
    -moz-appearance: textfield;
  }

  /* Prevenir glitch visual en inputs y textareas */
  input[type="color"] {
    isolation: isolate;
    contain: layout style paint;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
  }

  /* Prevenir glitch en todos los inputs y textareas */
  input:not([type="color"]),
  textarea,
  select {
    isolation: isolate;
    contain: layout style paint;
    background-color: transparent;
  }
}